# Go (Backend) needs this vars!
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
DB_NAME=
JWT_SECRET=

# Node (AI Backend) needs this vars!
GO_BACKEND_URL=
OLLAMA_URL=
CHROMA_URL=
CHROMA_CORS_ALLOW_ORIGINS=
HF_TOKEN=
HF_URL=
OLLAMA_MODEL=
HF_MODEL=

# Node React (Frontend) needs this vars!
VITE_API_URL=
VITE_AI_ENDPOINT=

# Proxy needs this vars!
PROXY_DOMAIN=
PROXY_API_URL=
PROXY_FRONTEND_URL=