# Database Configuration
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
DB_NAME=

# AI Backend Configuration
# If 'modal' or 'beam', it will use cloud GPUs; if 'ollama', it will use local Ollama models.
AI_PROVIDER=
AI_PORT=
FRONTEND_URL=

# Ollama (Local) Configuration
OLLAMA_URL=
OLLAMA_EMBEDDING_MODEL=
OLLAMA_MODEL=
OLLAMA_VISION_MODEL=
LOG_LEVEL=
LOG_FILE=

# Modal (Cloud) Configuration
MODAL_API_KEY_AUTH=
MODAL_FAST_URL=
MODAL_THINKING_URL=
MODAL_FAST_MODEL=
MODAL_THINKING_MODEL=

# Beam (Cloud) Configuration
BEAM_API_KEY_AUTH=
BEAM_URL=
BEAM_MODEL=

# ChromaDB Configuration
CHROMA_URL=

# JWT Configuration
JWT_SECRET=

# Frontend Configuration
VITE_API_URL=

# Proxy
PROXY_DOMAIN=
PROXY_API_URL=
PROXY_FRONTEND_URL=