{
	storage file_system {
		root data
	}
	log {
		output file logs/caddy.log
		level INFO
	}
}
(global_headers) {
	header {
		X-Forwarded-For {remote_host}
		X-Forwarded-Proto {scheme}
		Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
		X-Frame-Options "DENY"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "strict-origin-when-cross-origin"
	}
}
http:// {
	redir https://{host}{uri} permanent
}
culturistas.stuns.org {
	import global_headers
	encode zstd gzip
	handle /api/* {
		uri strip_prefix /api
		reverse_proxy http://localhost:8081 {
			header_up X-Real-IP {remote_host}
			header_up X-Forwarded-For {remote_host}
			header_up X-Forwarded-Proto {scheme}
		}
	}
	reverse_proxy http://localhost:5173
	log {
		output file logs/culturistas.log
		level INFO
	}
}
